//Abstract
@import "abstract/variables";
@import "abstract/mixins";

@import "abstract/functions";
//Base
@import "base/reset";
@import "base/base";
@import "base/typography";
@import "base/animation";

/*layout*/
@import "layout/grid";
@import "layout/nav";
@import "layout/hero";
@import "layout/features";
@import "layout/price";
@import "layout/footer";

/*components*/
@import "components/buttons";
@import "components/carousel";
@import "components/cover";

/*themes*/
@import "themes/theme";

/*vendors*/
@import "vendors/vendors";

/*pages*/
@import "pages/home";
@import "pages/contact";
