.footer{
    background-color: $fc-secondary;
    color:$fc-background;
    text-align: center;
    padding: 20px 0;
    &__text{
        padding: 10px 90px;
    }
    &__nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
        & a, input, button{
            padding: 5px;
        }


    }
    .form{
        width: 200px;
        margin: 0 auto;
        border: solid 2px $fc-gray;
        border-radius: 6px;
    }

    ::placeholder{
        color: $fc-gray;
    }

    .btn{
        width: 60px;
        margin: 5px auto;
        background-color: $fc-primary;
        border: solid 2px $fc-gray;
    }

    .btn:hover {
        background-color: $fc-hover;
    }
}