//Font Size
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

//Color Scheme
$fc-background: #fff;
$fc-contrast: #000;
$fc-hover: #ffa500;
$fc-primary: #ffaf6d;
$fc-secondary: #060606;
$fc-tertiary: #2e1503;

//Medias Query
$min-medium: 768px;
$min-large: 1200px;
